name: my test pipeline

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: run bash script
        run: echo "hello"

      - name: run another bash script
        run: ls -l
